/*Importing Jost, Oswald fonts*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Oswald:wght@500&display=swap');

/*Colours: https://lospec.com/palette-list/ayy4*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f1f2da;
}

.wrapper {
  position: absolute;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.inner_wrapper {
  height: 100%;
  width: 100%;
  max-width: 1400px;
}

/*----------------- ANIMATION SECTION -----------------*/

.animation {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.animateUP {
  animation: goingUp 1.5s forwards;
}

.animateLEFT {
  animation: goingLeft 1.5s forwards;
}

.animateRIGHT {
  animation: goingRight 1.5s forwards;
}

@keyframes goingUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes goingLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes goingRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*----------------- HEADER SECTION -----------------*/
.header {
  width: 100%;
  height: 10vh;
  display: block;
  background-color: #00303b;
  position: fixed;
  top: 0;
  color: white;
  z-index: 2;
}

.inner_header {
  width: 85%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.initials_container {
  height: 100%;
  display: table;
  float: left;
}

.initials_container h1 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Jost', sans-serif;
  font-size: 6vh;
  user-select: none;
  transition: 0.25s ease;
}

.initials_container :hover {
  opacity: 0.7;
}

.navigation {
  float: right;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 3vh;
  user-select: none;
}

.navigation h2 {
  height: 100%;
  font-size: 20px;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation h2 :hover {
  opacity: 0.7;
}

.navigation h2 li {
  display: table-cell;
  vertical-align: middle;
  transition: 0.25s ease;
}

/*----------------- INTRODUCTION SECTION -----------------*/

.intro {
  width: 100%;
  margin-top: 10vh;
  height: 91vh;
  display: block;
  font-family: 'Jost', sans-serif;
}

.inner_intro {
  width: 80%;
  height: 88%;
  display: flex;
  margin: 0 auto;
}

.intro_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.intro_text_container {
  height: 25%;
  width: 100%;
  display: table;
}

.intro_text_container h2 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 4vw;
  font-weight: 500;
  color: #00303b;
}


.link_container {
  margin-top: 2%;
  display: flex;
}

.link_container a {
  font-size: 2.5vw;
  font-weight: 400;
  margin: auto;
  color: white;
  background-color: #00303b;
  padding: 5px 5px;
  width: 30%;
  min-width: fit-content;
  text-align: center;
  border-radius: 30px;
  transition: 0.25s ease;
}

.link_container button {
  border: 0px;
  font-family: 'Jost', sans-serif;
  font-size: 2.5vw;
  font-weight: 400;
  margin: auto;
  color: white;
  background-color: #00303b;
  padding: 5px 5px;
  width: 50%;
  border-radius: 30px;
  transition: 0.25s ease;
}

.link_container :hover {
  background-color: #ff7777;
}

.intro_img_container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro_img_container img {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  border: 1.2vw solid #00303b;
}

/*----------------- SCROLL SECTION -----------------*/

.scroll {
  color: #00303b;
  width: 100%;
  text-align: center;
  transition: 0.5s ease;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.scroll h3 {
  font-family: 'Jost', sans-serif;
  font-size: 28px;
  font-weight: 400;
}


.scroll span {
  margin-top: 2vw;
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -1vw;
  border-left: 2px solid #00303b;
  border-bottom: 2px solid #00303b;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrollDown 1.5s infinite;
  animation: scrollDown 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes scrollDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/*----------------- FEATURED PROJECT SECTION -----------------*/

.f_proj {
  width: 100%;
  height: 90vh;
  font-family: 'Jost', sans-serif;
  color: #00303b;
}

.inner_f_proj {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  border-radius: 50px;
  background-color: white;
  display: block;
}

.inner_f_proj h2 {
  width: 100%;
  font-size: 3vw;
  font-weight: 400;
  padding-top: 2%;
  text-align: center;
}

.f_proj_left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f_proj_left img {
  border-radius: 20px;
  width: 84%;
  border: 10px solid #f1f2da;
}

.f_proj_right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.f_proj_text_container {
  width: 90%;
  margin-bottom: 4%;
  overflow: hidden;
}

.f_proj_right h3 {
  text-align: justify;
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

/*----------------- RECENT BLOG SECTION -----------------*/

.r_blog {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Jost', sans-serif;
}

.r_blog h2 {
  background-color: white;
  text-align: center;
  width: 30%;
  font-size: 240%;
  font-weight: 400;
  color: #00303b;
  border-radius: 20px;
}

.inner_r_blog {
  width: 100%;
  height: 80%;
  margin-top: 4%;
}

.blog_post {
  float: left;
  height: 90%;
  width: 40%;
  background-color: white;
  border-radius: 40px;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
  transition: 0.25s ease;
}

.blog_post h3 {
  position: relative;
  padding-top: 2%;
  width: 100%;
  font-size: 160%;
  font-weight: 400;
  color: #00303b;
  text-align: center;
}

.blog_post h4 {
  width: 90%;
  height: 65%;
  padding: 5%;
  padding-top: 2%;
  font-weight: 400;
  font-size: 120%;
  color: #00303b;
  white-space: pre-wrap;
}

.r_blog .link_container {
  margin: 0;
  width: 20%;
}

.r_blog .link_container a {
  width: 70%;
}

.whiteBox {
  width: 100%;
  height: 52px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.enlarger {
  position: absolute;
  bottom: 4%;
  right: 4%;
  background-color: white;
}

.enlarger h2 {
  font-size: 24px;
  width: 100%;
  background-color: transparent;
  user-select: none;
  transition: 0.25s ease
}

.enlarger :hover {
  opacity: 0.7;
}

/*----------------- FOOTER SECTION -----------------*/

.footer {
  margin-top: 160px;
  height: auto;
  width: 100%;
  font-family: 'Jost', sans-serif;
  color: white;
}

.footer h4 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  opacity: 0.3;
}

.inner_footer {
  height: auto;
  width: 100%;
  background-color: #00303b;
  position: absolute;
  bottom: 0;
  left: 0;
}

.icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons img {
  height: 40px;
  margin: 15px 10px 0px 10px;
  transition: 0.2s ease;
}

.icons a :hover {
  opacity: 0.8;
}


/* Locks scale for wider monitors */
@media screen and (min-width:1400px) {
  .intro_text_container h2 {
    font-size: 360%;
  }

  .link_container a {
    font-size: 200%;
  }

  .intro_img_container img {
    border: 16px solid #00303b;
  }

  .inner_f_proj h2 {
    font-size: 260%;
  }
}