/*Importing Jost, Oswald fonts*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Oswald:wght@500&display=swap');

/*Colours: https://lospec.com/palette-list/nostalgic-memories */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: white;
}

body {
  background-color: #4c4961;
}

.wrapper {
  position: absolute;
  width: 100%;
  overflow: hidden;
  background: url(Components/Images/sq.png) center center repeat;
}

/*----------------- HEADER SECTION -----------------*/
.header {
  width: 100%;
  height: 10vh;
  display: block;
  background-color: #4c4961;
}

.inner_header {
  width: 85%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.initials_container {
  height: 100%;
  display: table;
  float: left;
}

.initials_container h1 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Jost', sans-serif;
  font-size: 320%;
}

.navigation {
  float: right;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 120%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
}

/*----------------- INTRODUCTION SECTION -----------------*/
.intro {
  width: 100%;
  height: 90vh;
  display: block;
  font-family: 'Jost', sans-serif;
}

.inner_intro {
  width: 80%;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.intro_text_container {
  height: 100%;
  width: 50%;
  display: table;
}

.intro_text_container h2 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 320%;
  font-weight: 500;
}

.intro_img_container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro_img_container img {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  border: 20px solid #4c4961;
  ;
}

/*----------------- FEATURED PROJECT SECTION -----------------*/

.f_proj {
  width: 100%;
  height: 90vh;
  font-family: 'Jost', sans-serif;
}

.f_proj h2 {
  width: 100%;
  font-size: 300%;
  font-weight: 400;
  padding-top: 2%;
  text-align: center;
}